// Bootstrap grid fix for Safari

[browser="ios"],
[browser="safari"] {

  .col-xs-1 {
    width: 8.33333%
  }

  .col-xs-2 {
    width: 16.6%;
  }

  .col-xs-3 {
    width: 24.9%;
  }

  .col-xs-4 {
    width: 33.2%;
  }

  .col-xs-5 {
    width: 41.6%;
  }

  .col-xs-6 {
    width: 49.9%;
  }

  .col-xs-7 {
    width: 58.3%;
  }

  .col-xs-8 {
    width: 66.6%;
  }

  .col-xs-9 {
    width: 74.9%;
  }

  .col-xs-10 {
    width: 83.3%;
  }

  .col-xs-11 {
    width: 91.5876%;
  }

  .col-xs-12 {
    width: 100%
  }

  @media (min-width: $screen-sm-min) {

    .col-sm-1 {
      width: 8.33333%
    }

    .col-sm-2 {
      width: 16.6%;
    }

    .col-sm-3 {
      width: 24.9%;
    }

    .col-sm-4 {
      width: 33.2%;
    }

    .col-sm-5 {
      width: 41.6%;
    }

    .col-sm-6 {
      width: 49.9%;
    }

    .col-sm-7 {
      width: 58.3%;
    }

    .col-sm-8 {
      width: 66.6%;
    }

    .col-sm-9 {
      width: 74.9%;
    }

    .col-sm-10 {
      width: 83.3%;
    }

    .col-sm-11 {
      width: 91.5876%;
    }

    .col-sm-12 {
      width: 100%
    }
  }

  @media (min-width: $screen-md-min) {

    .col-md-1 {
      width: 8.33333%
    }

    .col-md-2 {
      width: 16.6%;
    }

    .col-md-3 {
      width: 24.9%;
    }

    .col-md-4 {
      width: 33.2%;
    }

    .col-md-5 {
      width: 41.6%;
    }

    .col-md-6 {
      width: 49.9%;
    }

    .col-md-7 {
      width: 58.3%;
    }

    .col-md-8 {
      width: 66.6%;
    }

    .col-md-9 {
      width: 74.9%;
    }

    .col-md-10 {
      width: 83.2%;
    }

    .col-md-11 {
      width: 91.5876%;
    }

    .col-md-12 {
      width: 100%
    }
  }

  @media (min-width: $screen-lg-min) {

    .col-lg-1 {
      width: 8.33333%
    }

    .col-lg-2 {
      width: 16.6%;
    }

    .col-lg-3 {
      width: 24.9%;
    }

    .col-lg-4 {
      width: 33.2%;
    }

    .col-lg-5 {
      width: 41.6%;
    }

    .col-lg-6 {
      width: 49.9%;
    }

    .col-lg-7 {
      width: 58.3%;
    }

    .col-lg-8 {
      width: 66.6%;
    }

    .col-lg-9 {
      width: 74.9%;
    }

    .col-lg-10 {
      width: 83.3%;
    }

    .col-lg-11 {
      width: 91.5876%;
    }

    .col-lg-12 {
      width: 100%
    }
  }
}
