//You can configure bootstrap or theme styles with variables
//check"../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables" before creating new variable

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base: #000;

$brand-primary: darken(#428bca, 6.5%); // #337ab7

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg: #fff;
//** Global text color on `<body>`.
$text-color: $gray-base;

//** Global textual link color.
$link-color: $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color: darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: underline;